<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/people']">
        <i class="material-icons" style="padding-right: .5em;">person_search</i>
        <span>People Finder</span>
      </button>
            <button mat-menu-item [routerLink]="['/people/relations']">
        <i class="material-icons" style="padding-right: .5em;">menu_book</i>
        <span>Relations Finder</span>
      </button>
         
            <button mat-menu-item [routerLink]="['/manga']">
        <i class="material-icons" style="padding-right: .5em;">people</i>
        <span>Manga Tracker</span>
      </button>

        </mat-menu>
        <div class="logo"></div>
        <span (click)="home()">RATools</span>

        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Logout" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    </mat-toolbar-row>

</mat-toolbar>